*.aps
*.pdb
*.ilk
*.tlog
*.obj
Debug
GeneratedFiles
*.xcf
*.sdf
*.user
*.ipch
/*.opensdf
*.suo
.moc
.rcc
/ui
/.qmake.stash
*.pro.user.*
/*.opendb
*.log
*.pch
Release
Makefile.*
Makefile
*.o
*.a
ui
Outliner/NeoStudio
*.opensdf
*.bsc
*.manifest
*.sbr
/Outliner/p_neostudio/build/moc
*.lastbuildstate
*.idb
*.cache
*.res
*.gen
*.db
*.unsuccessfulbuild
*.opendb
/src/neoide_dm.exe
/Demos/SCC_Linker/demo/outfile.exe
*.udb
neoide_dm10.exe
hello0.exe
/samples/h1/hello1.exe
